body {
  background-color: black;
  width: 100%;
  overflow-x: hidden;
}
.page-box {
  background-image: url('deskbg.jpg');
  background-size: cover;
  height: 100vh;
  position: relative;
}
.content-box {
  position: absolute;
  left: 35%;
  padding-top: 10%;
  right: 30%;
  font-family: 'Caveat', cursive;
  font-size: 18pt;
  text-shadow: 1px 1px 1px white;
}
#title {
  font-family: 'Dancing Script', cursive;
  font-size: 50pt;
  color:rgba(238, 238, 238, 0.9);
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px black;
}
.delete {
  margin-left: 10px;
  background-color: rgba(228, 32, 32, 0.2);
  padding-right: 10px;
  font-size: 10pt;
}
input[type="checkbox"]:checked {
  filter: hue-rotate(130deg) sepia(60%);
}
.strike {
  text-decoration: line-through;
}
.sort-btn {
  margin-bottom: 20px;
  margin-right: 5px;
}
#todo-list {
  margin-bottom: 20px;
}
button {
  background-color: rgba(238, 238, 238, 0.5);
  color: rgb(83, 44, 21);
  border-radius: 3px;
  border: 2px solid white;
  box-shadow: 2px 2px 5px white;
}
.footer {
  position: fixed;
  bottom: 1%;
  left: 1%;
  color: white;
}
/* media queries */

@media (max-width: 1320px) {
  .page-box {
    background-position: center;
  }
  .content-box {
    left: 30%;
    right: 25%;
    font-size: 16pt;
  }
}
@media (max-width: 767.98px) {
  .content-box {
    left: 15%;
    right: 5%;
    font-size: 20pt;
  }
  input[type="checkbox"] {
    transform: scale(2);
  }
  .delete {
    margin-left: 30px;
    font-size: 14pt;
  }
}